<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom dark w-100 align-items-center" style="height: 76px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none px-5">
      <img src="../../assets/icons/logo-white.svg" alt="Logo da Trakto.">
    </a>

    <ul class="nav nav-pills align-items-center mx-1" style="color: white">
      <li class="nav-item px-1">
        <img src="../../assets/icons/calendar.svg" alt="calendario">
      </li>
      <li class="nav-item px-1">
        {{dateFormatado}}
      </li>
      <li class="nav-item px-3">
        <img src="../../assets/icons/line.svg" alt="">
      </li>
      <li class="nav-item px-3">
        <img src="../../assets/icons/notification.svg" alt="">
      </li>
      <li class="nav-item px-3">
        <img src="../../assets/icons/line.svg" alt="">
      </li>
      <li class="nav-item px-3 ">
        <img src="../../assets/icons/Pônei-Shetland-Americano-Branco-Trotando-na-Grama.jpg" style="height: 40px; width: 40px; border-radius: 20px;">
      </li>
      <li class="nav-item px-1">
        <img src="../../assets/icons/seta.svg" alt="">
      </li>
    </ul>
  </header>
