.conteudo{
    display: flex;
    background-color: #EFF2F9;
    height: 100%;
    padding: 1rem;
    height: 100vh;
}

.aulas{
    display: flex;
    height: 90vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
    background-color: white;
}

.cards{
    width: 20%;
    padding: 1.5rem;
}