.pill{
  background-color: #E4EBFB;
  color: #7183A6;
}

button{
  background-color: white;
}

.chip{
  box-sizing: border-box;
  color:#4743FF;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;

  height: 51px;
  width: 180px;

  border: 1px solid #4743FF;
  border-radius: 8px;
}

  .carousel-inner {
    display: flex;
    padding: 1rem;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
    padding: 1rem
  }

