<main style="background-color: white" class="p-3 d-flex flex-column">
  <nav class="d-flex justify-content-between flex-row">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <span class="badge badge-pill pill">Semana 00/00 até 00/00/00</span>
        <button>
          <img src="../../assets/icons/arrow-left.svg" />
        </button>
        <button>
          <img src="../../assets/icons/arrow-right.svg" alt="" />
        </button>
      </div>
      <p class="h4">Material Didático</p>
      <p class="h6">Acesse suas últimas apresentações de aula.</p>
    </div>
    <button class="chip">
      <p class="h6">Ver Todo conteúdo</p>
    </button>
  </nav>

  <app-card/>


</main>
