<main style="background-color: white; height: 400px;" class="p-3 d-flex flex-column">
  <nav class="d-flex justify-content-between flex-row">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <span class="badge badge-pill pill">Semana 06/02 até 28/02</span>
        <button type="button" appPrev *ngIf="tipo==='md'">
          <img src="../../assets/icons/arrow-left.svg" />
        </button>
        <button type="button" appNext *ngIf="tipo==='md'">
          <img src="../../assets/icons/arrow-right.svg" alt="" />
        </button>
        <button type="button" appPrevYt *ngIf="tipo==='yt'">
          <img src="../../assets/icons/arrow-left.svg" />
        </button>
        <button type="button" appNextYt *ngIf="tipo==='yt'">
          <img src="../../assets/icons/arrow-right.svg" alt="" />
        </button>
      </div>
      <p class="h4 pt-2">{{title}}</p>
      <p class="h6">{{subtitle}}</p>
    </div>
    <button class="chip {{buttonColor}}">
      <p class="h6">{{buttonTitle}}</p>
    </button>
  </nav>

  <section class="carrosel" *ngIf="tipo === 'md'">
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main" id="md">
          <div class="item md"*ngFor="let aula of listaAulas" id="md">
            <div class="text card">
                <app-card [capa]="aula.capa" [titulo]="aula.titulo"/>
            </div>
          </div>
          </div>
        </div>
      </div>
  </section>

  <section class="carrosel" *ngIf="tipo === 'yt'">
    <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main" id="yt">
          <div class="item yt"*ngFor="let aula of listaYt" id="yt">
            <div class="text card">
                <app-card [capa]="aula.capa" [titulo]="aula.titulo"/>
            </div>
          </div>
          </div>
        </div>
      </div>
  </section>

</main>
