<main>
  <app-header [mode]="'dark'" />
  <div
    class="home p-5 align-items-center"
    style="background: url('../../assets/background/Abertura.svg')"
  >
    <ul class="px-3 text-center">
      <li class="px-3">
        <a routerLink="/material-didatico" class="text-decoration-none link-light">
          <h3>Material Didático</h3>
          <img src="../../assets/icons/book.png" />
        </a>
      </li>
      <li class="px-3">
        <a href="" class="text-decoration-none link-light">
          <h3>Quizz</h3>
          <img src="../../assets/icons/medal.png" />
        </a>
      </li>
      <li class="px-3">
        <a href="" class="text-decoration-none link-light">
          <h3>Desenho</h3>
          <img src="../../assets/icons/paint.png" />
        </a>
      </li>
      <li class="px-3">
        <a href="https://www.youtube.com/@Trakto" class="text-decoration-none link-light"  target=”_blank” >
          <h3>Youtube</h3>
          <img src="../../assets/icons/youtube.png" />
        </a>
      </li>
    </ul>
  </div>
</main>
